<!DOCTYPE html>
<html>
<head>
  <title>login</title>
  <script src="/javascripts/jquery-1.12.3.js"></script>
</head>

<body>
<label>User name</label>
<input id="name">
<label>Password</label>
<input id="pas">
<button id="login">login</button>

<script >
  jQuery(document).ready(function(){
    $("#login").click(function(){
      $.ajax({
        type:'POST',
        url:'/post',
        data:{
          email:$("#name").val(),
          password:$("#pas").val()
        },
        success:function(data){
          alert(data);
        },
        error:function(data){
          alert("error");
        }
      });
    });

  });
</script>
</body>
</html>